body {
    background-image: url("https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  } 
    /*Page title*/
  h2{
    color: rgb(255, 252, 246);
    font-family: monospace, 'Andalé Mono';
    text-align: center;
   
  }
    /*Username and password boxes*/
  .input{
    background-color: rgb(255, 252, 246);
    border: #7D8694;
    color: #7D8694;
    font-family: monospace, 'Andalé Mono';
    border-radius: 5px;
    min-width: 12.5vw;
    max-width: 40vw;
    height: 6vh;
    padding: 0.2vmin;
    margin-bottom: 2.4vw;

  }
  ::placeholder{
    color:#7D8694;
    font-family: monospace, 'Andalé Mono';

  }
    /*The placement of the username and pass. form*/
  form{
    margin-left: auto;
    margin-right: auto;
   text-align: center;
   align-self: center;
   font-family: monospace, 'Andalé Mono';


  }
    /*Submit button*/
  .btn{
    font-family: monospace, 'Andalé Mono';
    border-color: transparent;
    background-color: rgb(255, 252, 246, 0.6);
    color: #7D8694 ;
    font-family: monospace, 'Andalé Mono';
    border-radius: 5px;
    min-width: 5vw;
    min-height: 2vh;
    max-width: 50vw; 
  max-height: 10vh;
  padding: 0.3vh 1vw;


  }
  .btn:hover{
    background-color: rgb(255, 252, 246);

  }
    /*The text that offers user to visit the sign up page*/
  h4{
   
    font-family: monospace, 'Andalé Mono';
    color: rgb(255, 252, 246);
    background-color: #7d869432;
    text-align: center;
  }
    /*The link*/
  a{
    color: #C7DED8;
  }
  /*To make the application responsive, lets adjust some elements, depeneding on the page size*/
/*Size of elements for screens of 600px width and less*/
  @media screen and (max-width: 600px) {
    h2{
      font-size: 8vw ;
      letter-spacing: 1vw;
    }
    .input{
      font-size: 4vmin;
      height: 4vh;
    }
    .btn{
      margin-top: 4vh;
      font-size: 3.8vw;
    }
    h4{
      font-size: 4vw;
      margin-top: 20vh;
    }
    form{
      margin-top: 20vh;
    }
  }
  /*Size of elements for screens with the width between 601px and 1024px*/
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    h2{
      font-size: 8vw ;
      letter-spacing: 1vw;
    }
    .input{
      font-size: 4vmin;
      height: 4vh;
    }
    .btn{
      margin-top: 2vh;
      font-size: 4vw;
    }
    h4{
      font-size: 4vw;
      margin-top: 20vh;
    }
    form{
      margin-top: 20vh;
    }
  }
  /*Size of elements for screens of 1025px width or more*/
  @media screen and (min-width: 1025px) {
    h2{
      font-size: 3.5vw ;
      letter-spacing: 1.5vw;
    }
    .input{
      font-size: 2.5vmin;
      height: 5vh;
    }
    .btn{
      font-size: 1.2vw;
    }
    h4{
      margin-top: 8vw;
      font-size: 1.3vw;
    }
    form{
      margin-top: 7vw;
    }
  }
