<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
      <link rel="stylesheet" href="/aboutus.css">
</head>
<body>
    <h1>About us</h1>
    <div class="main">
<p>Chai - Tea.<br>As now many young people say..
<br> Here you can "Spill the tea" about anything! 
<br> Notebooks are great, but with this chaotic life, they are easily forgotten about, ruined or lost.
<br> That's why we have this website, where you can keep a list about ANYTHING.<br> What to keep track of your opinions about movies? books? places? people?
<br> This is the perfect platform!
<br>You can make lists with descriptions,but a decription is not required, <br>so if you're in the mood for a simple list, just don't add a description!</p>
    </div>
    <div class="main">
<p>If there is anything wrong with the website,<br> or you have suggestions for ways to improve your experience<br> send us a message!<br> 
<br> EMAIL: chaianswers@gmail.com
</p>
    </div>
  
    <div class="ret">
<a href="/intro"><button class="btn">Return to main page</button></a>
</div>
</body>
</html>