<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAI</title>
    <link rel="stylesheet" href="/intro.css">
</head>

<body>
    <h1>C H A I</h1>
    <table>
        <tr>
        <th><a href="/login"><button class="btn">L o g i n</button></a></th>
        <th><a href="/signup"><button class="btn">S i n g u p</button></a></th>
        </tr>      
    </table>
    <div class="ab">
     <a href="/aboutus"><button class="btnab">A b o u t  u s</button></a>
    </div>
</body>

</html>