<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
        <link rel="stylesheet" href="/login.css">

</head>
<body>
    <h2>Login</h2>

    <form action="/login" method="post">
    <input type="text" name="name" placeholder="Username" class="input">
    <input type="password" name="password" placeholder="Password" class="input">
    <br>
    <input type="submit" class="btn">

    </form>

    <h4>Don't have an account? <a href="/signup"> SIGNUP</a></h4>
</body>
</html>