<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/signup.css">

</head>
<body>
    <h2>Signup</h2>
    
    <form action="/signup" method="post">
    <input type="text" name="name" placeholder="Username" class="input">
    <input type="password" name="password" placeholder="Password" class="input">
   <br>
    <input type="submit" class="btn">
 

    </form>

       <h4>Already have an account? <a href="/login">LOGIN</a></h4>
</body>
</html> 